In [ ]:
import git

In [ ]:
!git clone https://github.com/PhonePe/pulse.github

In [ ]:
import pandas as pd
import json
import os 
import csv

In [ ]:
#This is to direct the path to get the data as states
path="C://Users//Raghu//pulse//data//aggregated//transaction//country//india//state"
Agg_state_list=os.listdir(path)
Agg_state_list

In [ ]:
#This is to extract the aggregated_transaction data to create a dataframe
path = "C:/Users/Raghu/pulse/data/aggregated/transaction/country/india/state"
Agg_state_list = os.listdir(path)

clm = {
    'State': [],
    'Year': [],
    'Quarter': [],
    'Transaction_type': [],
    'Transaction_count': [],
    'Transaction_amount': []
}

for i in Agg_state_list:
    p_i = os.path.join(path, i)
    Agg_yr = os.listdir(p_i)

    for j in Agg_yr:
        p_j = os.path.join(p_i, j)
        Agg_yr_list = os.listdir(p_j)

        for k in Agg_yr_list:
            p_k = os.path.join(p_j, k)
            with open(p_k, 'r') as Data:
                D = json.load(Data)

                for z in D['data']['transactionData']:
                    Name = z['name']
                    count = z['paymentInstruments'][0]['count']
                    amount = z['paymentInstruments'][0]['amount']
                    clm['Transaction_type'].append(Name)
                    clm['Transaction_count'].append(count)
                    clm['Transaction_amount'].append(amount)
                    clm['State'].append(i)
                    clm['Year'].append(j)
                    clm['Quarter'].append(int(k.strip('.json')))

Agg_Trans = pd.DataFrame(clm)
Agg_Trans.head(2)

In [ ]:
Agg_Trans.shape

In [ ]:
Agg_Trans.dtypes

In [ ]:
Agg_Trans['Year'] = Agg_Trans['Year'].astype(int)
Agg_Trans.dtypes

In [ ]:
Agg_Trans.isnull().sum()

In [ ]:
Agg_Trans.duplicated().sum()

In [ ]:
#extract aggregated_users data and transform into dataframe
path = "C:/Users/Raghu/pulse/data/aggregated/user/country/india/state"
Agg_state_list = os.listdir(path)

clm = {
    'State': [],
    'Year': [],
    'Quarter': [],
    'User_brand': [],
    'User_count': [],
    'User_percentage': []
}

for i in Agg_state_list:
    p_i = os.path.join(path, i)
    Agg_yr = os.listdir(p_i)

    for j in Agg_yr:
        p_j = os.path.join(p_i, j)
        Agg_yr_list = os.listdir(p_j)

        for k in Agg_yr_list:
            p_k = os.path.join(p_j, k)
            with open(p_k, 'r') as Data:
                D = json.load(Data)
                try:
                    for z in D['data']['usersByDevice']:
                        brand = z['brand']
                        count = z['count']
                        percentage = z['percentage'] * 100
                        clm['User_brand'].append(brand)
                        clm['User_count'].append(count)
                        clm['User_percentage'].append(percentage)
                        clm['State'].append(i)
                        clm['Year'].append(j)
                        clm['Quarter'].append(int(k.strip('.json')))
                except:
                    pass

Agg_User = pd.DataFrame(clm)
Agg_User.head(2)

In [ ]:
Agg_User.shape

In [ ]:
Agg_User.dtypes

In [ ]:
Agg_User['Year'] = Agg_User['Year'].astype(int)
Agg_User.dtypes

In [ ]:
Agg_User.isnull().sum()

In [ ]:
Agg_User.duplicated().sum()

In [ ]:
#extract Map_transaction data and transform into dataframe
path = "C:/Users/Raghu/pulse/data/map/transaction/hover/country/india/state"
Agg_state_list = os.listdir(path)

clm = {
    'State': [],
    'Year': [],
    'Quarter': [],
    'District': [],
    'Transaction_count': [],
    'Transaction_amount': []
}

for i in Agg_state_list:
    p_i = os.path.join(path, i)
    Agg_yr = os.listdir(p_i)

    for j in Agg_yr:
        p_j = os.path.join(p_i, j)
        Agg_yr_list = os.listdir(p_j)

        for k in Agg_yr_list:
            p_k = os.path.join(p_j, k)
            with open(p_k, 'r') as Data:
                D = json.load(Data)
                try:
                    for z in D['data']['hoverDataList']:
                        district = z['name'].split('district')[0]
                        count = z['metric'][0]['count']
                        amount = z['metric'][0]['amount']
                        clm['District'].append(district)
                        clm['Transaction_count'].append(count)
                        clm['Transaction_amount'].append(amount)
                        clm['State'].append(i)
                        clm['Year'].append(j)
                        clm['Quarter'].append(int(k.strip('.json')))
                except:
                    pass

m_trans = pd.DataFrame(clm)
m_trans.head(2)

In [ ]:
m_trans.shape

In [ ]:
m_trans.dtypes

In [ ]:
m_trans['Year'] = m_trans['Year'].astype(int)
m_trans['Year'].dtypes

In [ ]:
m_trans.isnull().sum()

In [ ]:
m_trans.duplicated().sum()

In [ ]:
#extract Map_users data and transform into dataframe
path = "C:/Users/Raghu/pulse/data/map/user/hover/country/india/state"
agg_state_list = os.listdir(path)

clm = {'State': [], 'Year': [], 'Quarter': [], 'District': [], 'Registered_user': [], 'App_opens': []}

for i in Agg_state_list:
    p_i = os.path.join(path, i)
    Agg_yr = os.listdir(p_i)

    for j in Agg_yr:
        p_j = os.path.join(p_i, j)
        Agg_yr_list = os.listdir(p_j)

        for k in Agg_yr_list:
            p_k = os.path.join(p_j, k)
            with open(p_k, 'r') as Data:
                D = json.load(Data)

                for z_key, z_value in D['data']['hoverData'].items():
                    district = z_key.split('district')[0]
                    reg_user = z_value['registeredUsers']
                    app_opens = z_value['appOpens']
                    clm['District'].append(district)
                    clm['Registered_user'].append(reg_user)
                    clm['App_opens'].append(app_opens)
                    clm['State'].append(i)
                    clm['Year'].append(j)
                    clm['Quarter'].append(int(k.strip('.json')))

m_user = pd.DataFrame(clm)
m_user.head(2)

In [ ]:
m_user.shape

In [ ]:
m_user.dtypes

In [ ]:
m_user['Year'] = m_user['Year'].astype(int)
m_user.dtypes

In [ ]:
m_user.isnull().sum()

In [ ]:
m_user.duplicated().sum()

In [ ]:
#extract Top_transaction_district data and transform into dataframe
path = "C:/Users/Raghu/pulse/data/top/transaction/country/india/state"
agg_state_list = os.listdir(path)

clm = {'State': [], 'Year': [], 'Quarter': [], 'District': [], 'Transaction_count': [], 'Transaction_amount': []}

for i in Agg_state_list:
    p_i = os.path.join(path, i)
    Agg_yr = os.listdir(p_i)

    for j in Agg_yr:
        p_j = os.path.join(p_i, j)
        Agg_yr_list = os.listdir(p_j)

        for k in Agg_yr_list:
            p_k = os.path.join(p_j, k)
            with open(p_k, 'r') as Data:
                D = json.load(Data)
                
                for z in D['data']['districts']:
                    district = z['entityName']
                    count = z['metric']['count']
                    amount = z['metric']['amount']
                    clm['District'].append(district)
                    clm['Transaction_count'].append(count)
                    clm['Transaction_amount'].append(amount)
                    clm['State'].append(i)
                    clm['Year'].append(j)
                    clm['Quarter'].append(int(k.strip('.json')))
Top_trans_district = pd.DataFrame(clm)
Top_trans_district.head(2)

In [ ]:
Top_trans_district.shape

In [ ]:
Top_trans_district.dtypes

In [ ]:
Top_trans_district['Year'] = Top_trans_district['Year'].astype(int)
Top_trans_district['Year'].dtypes

In [ ]:
Top_trans_district.isnull().sum()

In [ ]:
Top_trans_district.duplicated().sum()

In [ ]:
#extract Top_transaction_Pincode data and transform into dataframe
path = "C:/Users/Raghu/pulse/data/top/transaction/country/india/state"
agg_state_list = os.listdir(path)

clm = {'State': [], 'Year': [], 'Quarter': [], 'Pincode': [], 'Transaction_count': [], 'Transaction_amount': []}

for i in Agg_state_list:
    p_i = os.path.join(path, i)
    Agg_yr = os.listdir(p_i)

    for j in Agg_yr:
        p_j = os.path.join(p_i, j)
        Agg_yr_list = os.listdir(p_j)

        for k in Agg_yr_list:
            p_k = os.path.join(p_j, k)
            with open(p_k, 'r') as Data:
                D = json.load(Data)
                
                for z in D['data']['pincodes']:
                    pincode = z['entityName']
                    count = z['metric']['count']
                    amount = z['metric']['amount']
                    clm['Pincode'].append(pincode)
                    clm['Transaction_count'].append(count)
                    clm['Transaction_amount'].append(amount)
                    clm['State'].append(i)
                    clm['Year'].append(j)
                    clm['Quarter'].append(int(k.strip('.json')))

Top_Trans_Pincode = pd.DataFrame(clm)
Top_Trans_Pincode.head(2)

In [ ]:
Top_Trans_Pincode.shape

In [ ]:
Top_Trans_Pincode.dtypes

In [ ]:
Top_Trans_Pincode.isnull().sum()

In [ ]:
Top_Trans_Pincode = Top_Trans_Pincode.dropna(subset=['Pincode'])
Top_Trans_Pincode.isnull().sum()

In [ ]:
Top_Trans_Pincode['Year'] = Top_Trans_Pincode['Year'].astype(int)
Top_Trans_Pincode['Pincode'] = Top_Trans_Pincode['Pincode'].astype(int)
Top_Trans_Pincode.dtypes

In [ ]:
Top_Trans_Pincode.duplicated().sum()

In [ ]:
#extract Top_User_district data and transform into dataframe
path = "C:/Users/Raghu/pulse/data/top/user/country/india/state"
agg_state_list = os.listdir(path)

clm = {'State': [], 'Year': [], 'Quarter': [], 'District': [], 'Registered_user': []}

for i in Agg_state_list:
    p_i = os.path.join(path, i)
    Agg_yr = os.listdir(p_i)

    for j in Agg_yr:
        p_j = os.path.join(p_i, j)
        Agg_yr_list = os.listdir(p_j)

        for k in Agg_yr_list:
            p_k = os.path.join(p_j, k)
            with open(p_k, 'r') as Data:
                D = json.load(Data)

                for z in D['data']['districts']:
                    district = z['name']
                    reg_user = z['registeredUsers']
                    clm['District'].append(district)
                    clm['Registered_user'].append(reg_user)
                    clm['State'].append(i)
                    clm['Year'].append(j)
                    clm['Quarter'].append(int(k.strip('.json')))
T_User_district = pd.DataFrame(clm)
T_User_district.head(2)

In [ ]:
T_User_district.shape

In [ ]:
T_User_district.dtypes

In [ ]:
T_User_district['Year'] = T_User_district['Year'].astype(int)
T_User_district.dtypes

In [ ]:
T_User_district.isnull().sum()

In [ ]:
T_User_district.duplicated().sum()

In [ ]:
#extract Top_User_Pincode data and transform into dataframe
path = "C:/Users/Raghu/pulse/data/top/user/country/india/state"
agg_state_list = os.listdir(path)

clm = {'State': [], 'Year': [], 'Quarter': [], 'Pincode': [], 'Registered_user': []}

for i in Agg_state_list:
    p_i = os.path.join(path, i)
    Agg_yr = os.listdir(p_i)

    for j in Agg_yr:
        p_j = os.path.join(p_i, j)
        Agg_yr_list = os.listdir(p_j)

        for k in Agg_yr_list:
            p_k = os.path.join(p_j, k)
            with open(p_k, 'r') as Data:
                D = json.load(Data)

                for z in D['data']['pincodes']:
                    pincode = z['name']
                    reg_user = z['registeredUsers']
                    clm['Pincode'].append(pincode)
                    clm['Registered_user'].append(reg_user)
                    clm['State'].append(i)
                    clm['Year'].append(j)
                    clm['Quarter'].append(int(k.strip('.json')))
T_User_Pincode = pd.DataFrame(clm)
T_User_Pincode.head(2)

In [ ]:
T_User_Pincode.shape

In [ ]:
T_User_Pincode.dtypes

In [ ]:
T_User_Pincode['Year'] = T_User_Pincode['Year'].astype(int)
T_User_Pincode.dtypes

In [ ]:
T_User_Pincode.isnull().sum()

In [ ]:
T_User_Pincode.duplicated().sum()

In [ ]:
import mysql.connector

In [ ]:
connection = mysql.connector.connect(
        host="localhost",
        user="root",
        password="Data23Wrangl#",
        database="phonepe_db"
    )
cursor = connection.cursor()

In [ ]:
print(connection)

In [ ]:
# Execute your queries here
query = "CREATE TABLE if not exists aggregated_transaction(\
                        state VARCHAR(255),\
                        year INT,\
                        quarter VARCHAR(2),\
                        transaction_type VARCHAR(255),\
                        transaction_count INT,\
                        transaction_amount DOUBLE)"
cursor.execute(query)
connection.commit()

In [ ]:
query = "CREATE TABLE if not exists aggregated_user(\
                            state VARCHAR(255),\
                            year INT,\
                            quarter VARCHAR(2),\
                            user_brand VARCHAR(255),\
                            user_count INT,\
                            user_percentage DOUBLE)"
cursor.execute(query)
connection.commit()

In [ ]:
query = "CREATE TABLE if not exists map_transaction(\
                            state VARCHAR(255),\
                            year INT,\
                            quarter VARCHAR(2),\
                            district VARCHAR(255),\
                            transaction_count INT,\
                            transaction_amount DOUBLE)"
cursor.execute(query)
connection.commit()

In [ ]:
query = "CREATE TABLE if not exists map_user(\
                            state VARCHAR(255),\
                            year INT,\
                            quarter VARCHAR(2),\
                            district VARCHAR(255),\
                            registered_user INT,\
                            app_opens INT)"
cursor.execute(query)
connection.commit()

In [ ]:
query = "CREATE TABLE if not exists top_transaction_district(\
                            state VARCHAR(255),\
                            year INT,\
                            quarter VARCHAR(2),\
                            district VARCHAR(255),\
                            transaction_count INT,\
                            transaction_amount DOUBLE)"
cursor.execute(query)
connection.commit()

In [ ]:
query = "CREATE TABLE if not exists top_transaction_pincode(\
                            state VARCHAR(255),\
                            year INT,\
                            quarter VARCHAR(2),\
                            pincode VARCHAR(255),\
                            transaction_count INT,\
                            transaction_amount DOUBLE)"
cursor.execute(query)
connection.commit()

In [ ]:
query = "CREATE TABLE if not exists top_user_district(\
                            state VARCHAR(255),\
                            year INT,\
                            quarter VARCHAR(2),\
                            district VARCHAR(255),\
                            registered_user INT)"
cursor.execute(query)
connection.commit()

In [ ]:
query = "CREATE TABLE if not exists top_user_pincode(\
                            state VARCHAR(255),\
                            year INT,\
                            quarter VARCHAR(2),\
                            pincode VARCHAR(255),\
                            registered_user INT)"
cursor.execute(query)
connection.commit()

In [ ]:
cursor.execute("SHOW TABLES")
tables = cursor.fetchall()

# Print the list of tables
for table in tables:
    print(table[0])

In [ ]:
#insert data to table1 aagregated_transaction
for index, row in Agg_Trans.iterrows():
    insert_query = "INSERT INTO aggregated_transaction (state, year, quarter, transaction_type, transaction_count, transaction_amount) VALUES (%s, %s, %s, %s, %s, %s)"
    values = (row['State'], row['Year'], row['Quarter'], row['Transaction_type'], row['Transaction_count'], row['Transaction_amount'])
    cursor.execute(insert_query, values)

# Committing the transaction
connection.commit()

# Fetching and printing the inserted data
#check if the table is inserted with the data
cursor.execute("SELECT * FROM aggregated_transaction")
rows = cursor.fetchall()
for row in rows:
    print(row)

In [ ]:
#insert data to table2 aagregated_user
for index, row in Agg_User.iterrows():
    insert_query = "INSERT INTO aggregated_user (state, year, quarter, user_brand, user_count, user_percentage) VALUES (%s, %s, %s, %s, %s, %s)"
    values = (row['State'], row['Year'], row['Quarter'], row['User_brand'], row['User_count'], row['User_percentage'])
    cursor.execute(insert_query, values)

# Committing the transaction
connection.commit()

# Fetching and printing the inserted data
cursor.execute("SELECT * FROM aggregated_user")
rows = cursor.fetchall()
for row in rows:
    print(row)

In [ ]:
#insert data to table3 map_transaction
for index, row in m_trans.iterrows():
    insert_query = "INSERT INTO map_transaction (state, year, quarter, district, transaction_count, transaction_amount) VALUES (%s, %s, %s, %s, %s, %s)"
    values = (row['State'], row['Year'], row['Quarter'], row['District'], row['Transaction_count'], row['Transaction_amount'])
    cursor.execute(insert_query, values)

# Committing the transaction
connection.commit()

# Fetching and printing the inserted data
cursor.execute("SELECT * FROM map_transaction")
rows = cursor.fetchall()
for row in rows:
    print(row)

In [ ]:
#insert data to table4 map_user
for index, row in m_user.iterrows():
    insert_query = "INSERT INTO map_user (state, year, quarter, district, registered_user, app_opens) VALUES (%s, %s, %s, %s, %s, %s)"
    values = (row['State'], row['Year'], row['Quarter'], row['District'], row['Registered_user'], row['App_opens'])
    cursor.execute(insert_query, values)

# Committing the transaction
connection.commit()

# Fetching and printing the inserted data
cursor.execute("SELECT * FROM map_user")
rows = cursor.fetchall()
for row in rows:
    print(row)

In [ ]:
#insert data to table5 top_transaction_district
for index, row in Top_trans_district.iterrows():
    insert_query = "INSERT INTO top_transaction_district (state, year, quarter, district, transaction_count, transaction_amount) VALUES (%s, %s, %s, %s, %s, %s)"
    values = (row['State'], row['Year'], row['Quarter'], row['District'], row['Transaction_count'], row['Transaction_amount'])
    cursor.execute(insert_query, values)

# Committing the transaction
connection.commit()

# Fetching and printing the inserted data
cursor.execute("SELECT * FROM top_transaction_district")
rows = cursor.fetchall()
for row in rows:
    print(row)

In [ ]:
#insert data to table6 top_transaction_pincode
for index, row in Top_Trans_Pincode.iterrows():
    insert_query = "INSERT INTO top_transaction_pincode (state, year, quarter, pincode, transaction_count, transaction_amount) VALUES (%s, %s, %s, %s, %s, %s)"
    values = (row['State'], row['Year'], row['Quarter'], row['Pincode'], row['Transaction_count'], row['Transaction_amount'])
    cursor.execute(insert_query, values)

# Committing the transaction
connection.commit()

# Fetching and printing the inserted data
cursor.execute("SELECT * FROM top_transaction_pincode")
rows = cursor.fetchall()
for row in rows:
    print(row)

In [ ]:
#insert data to table7 top_user_district
for index, row in T_User_district.iterrows():
    insert_query = "INSERT INTO top_user_district (state, year, quarter, district, Registered_user) VALUES (%s, %s, %s, %s, %s)"
    values = (row['State'], row['Year'], row['Quarter'], row['District'], row['Registered_user'])
    cursor.execute(insert_query, values)

# Committing the transaction
connection.commit()

# Fetching and printing the inserted data
cursor.execute("SELECT * FROM top_user_district")
rows = cursor.fetchall()
for row in rows:
    print(row)

In [ ]:
#insert data to table8 top_user_pincode
for index, row in T_User_Pincode.iterrows():
    insert_query = "INSERT INTO top_user_pincode (state, year, quarter, pincode, Registered_user) VALUES (%s, %s, %s, %s, %s)"
    values = (row['State'], row['Year'], row['Quarter'], row['Pincode'], row['Registered_user'])
    cursor.execute(insert_query, values)

# Committing the transaction
connection.commit()

# Fetching and printing the inserted data
cursor.execute("SELECT * FROM top_user_pincode")
rows = cursor.fetchall()
for row in rows:
    print(row)

In [ ]:
import streamlit as st
import numpy as np

In [ ]:
# Comfiguring Streamlit GUI 
st.set_page_config(layout='wide')

# Title
st.markdown("<h1 style='text-align: center; color: orange;'>Phonepe Pulse Data Visualization and Exploration</h1>", unsafe_allow_html=True)
#st.header(':orange[Phonepe Pulse Data Visualization ]')
st.write('')

In [ ]:
# Selection option
option = st.radio('**Select your option**',('All India', 'State wise','Top Ten categories'),horizontal=True)

if option == 'All India':

    # Select tab
    tab1, tab2 = st.tabs(['Transaction','User'])

    # -------------------------       /     All India Transaction        /        ------------------ #
    with tab1:
        col1, col2, col3 = st.columns(3)
        with col1:
            tr_yr = st.selectbox('**Select Year**', ('2018','2019','2020','2021','2022'),key='tr_yr')
        with col2:
            tr_qtr = st.selectbox('**Select Quarter**', ('1','2','3','4'),key='tr_qtr')
        with col3:
            tr_typ = st.selectbox('**Select Transaction type**', ('Recharge & bill payments','Peer-to-peer payments',
            'Merchant payments','Financial Services','Others'),key='tr_typ')
       
            # Transaction Analysis bar chart query
            cursor.execute(f"SELECT State, Transaction_amount FROM aggregated_transaction WHERE Year = '{tr_yr}' AND Quarter = '{tr_qtr}' AND Transaction_type = '{tr_typ}';")
            result = cursor.fetchall()

            df_result = pd.DataFrame(np.array(result), columns=['State', 'Transaction_amount'])
            df_result['Transaction_amount'] = df_result['Transaction_amount'].astype(float)
            df_result1 = df_result.set_index(pd.Index(range(1, len(df_result)+1)))

            st.bar_chart(df_result1, use_container_width=True)

In [ ]:
# Transaction Analysis query
cursor.execute(f"SELECT State, Transaction_count, Transaction_amount FROM aggregated_transaction WHERE Year = '{tr_yr}' AND Quarter = '{tr_qtr}' AND Transaction_type = '{tr_typ}';")
result = cursor.fetchall()
df_result = pd.DataFrame(np.array(result), columns=['State','Transaction_count','Transaction_amount'])
df_result2 = df_result.set_index(pd.Index(range(1, len(df_result)+1)))
df_result2

In [ ]:
# Total Transaction Amount query
cursor.execute(f"SELECT SUM(Transaction_amount), AVG(Transaction_amount) FROM aggregated_transaction WHERE Year = '{tr_yr}' AND Quarter = '{tr_qtr}' AND Transaction_type = '{tr_typ}';")
result = cursor.fetchall()
df_result = pd.DataFrame(np.array(result), columns=['Total','Average'])
df_result3 = df_result.set_index(['Average'])
df_result3

In [ ]:
 # Total Transaction Count query
cursor.execute(f"SELECT SUM(Transaction_count), AVG(Transaction_count) FROM aggregated_transaction WHERE Year = '{tr_yr}' AND Quarter = '{tr_qtr}' AND Transaction_type = '{tr_typ}';")
result = cursor.fetchall()
df_result = pd.DataFrame(np.array(result), columns=['Total','Average'])
df_result4 = df_result.set_index(['Average'])
df_result4

In [ ]:
import requests
import json

url = "https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"

# Fetch GeoJSON data
response = requests.get(url)
data = json.loads(response.content)

# Extract and sort state names
geo_state = [i['properties']['ST_NM'] for i in data['features']]
geo_state.sort(reverse=False)

# Print the sorted state names
for state in geo_state:
    print(state)